<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <title>{% block title %}Django - title missing{% endblock %}</title>
    
    <!-- Bootstrap -->
    <link href="{% static 'wiki/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'wiki/css/bootstrap-theme.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'wiki/css/styles.css' %}">
    {% block page-specific-statics %}{% endblock %}
  </head>
  
  <body>
        <div id="outer-container" class="container">  
        {% block navigation %}
        {% if navitems %} 
        <nav class="navbar col-lg-offset-1 col-lg-10">
            <div class="navbar-inner">
                <ul class="nav nav-pills">
                    {% for item in navitems %}          
                    <li role="presentation">
                        {% if item.redirectPage %}
                        <a href="{% url item.redirect item.redirectPage %}">{{ item.display }}</a>
                        {% else %}
                        <a href="{% url item.redirect %}">{{ item.display }}</a>
                        {% endif %}
                    </li>
                    {% endfor %} 
                </ul>
            </div>
        </nav>
        {% endif %}
    
    {% endblock navigation %}
    
    <article class="col-lg-offset-1 col-lg-10">
        <section id='inner-content-wrapper' class="well well-lg">
        {% block content %}
        Missing Content
        {% endblock %}
        </section>
    </article>
    
     
       
    <footer class="col-lg-12 col-lg-offset-1">
    {% block footer %}
    <h6>&copy; A P Oliver 2016</h6>
    {% endblock %}
    </footer>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'wiki/js/bootstrap.js' %}"></script>

  </body>
</html>
