{% extends 'wiki/base.html' %}{% block title %}Edit {{page_name}}{% endblock %}
{% block pageheader %}{% endblock %}
{% block content %}
    <header><h3>{{page_name}}</h3></header>
    <form method="post" action="{% url 'wiki:save_page' page_name %}">
    {% csrf_token %}
        <textarea name="content" rows="10" cols="40">
{{content}}
        </textarea>
        <p><span class="label label-info">Tags:</span> <input name="tags" value="{{tags}}" maxlength="40" size = "20"/></p>
        <input type="submit" value="Save">
    </form>
{% endblock %}