{% extends 'wiki/base.html' %}
{% load wiki_tags %}
{% block title %}Index{% endblock %}
{% block pageheader %}Index{% endblock %}
{% block content %}
        <section><h3>Pages</h3>
        {% if pages %}
        <ul>
        
        {% for page in pages %}
            <li><a href="{% url 'wiki:view_page' page.name %}">{{ page.name }}</a></li>
        {% endfor %} 
        
        </ul>
        {% endif %}
        </section>
        <section>
        <h3>Special Pages</h3>
        <ul>
        {% for page in special_pages %}
            <li><a href="{% url 'wiki:view_page' page %}">{{page}}</a></li>
        {% endfor %} 
        </ul>   
        </section>
     <footer class="container">
     </footer>
{% endblock content %}
