{% extends 'wiki/base.html' %}
{% block title %}Search{% endblock %}
{% block pageheader %}Search{% endblock %}
{% block content %}
<form method="post" action="">
{% csrf_token %}
<div class="input-group">
{{form.text}}
<span class="input-group-btn">
  <button class="btn btn-default">
    <span class="glyphicon glyphicon-search"></span>
  </button> 
</span>
</div>
<div>
  {{form.search_content.label}} {{ form.search_content }}
</div>

</form>
{% if pages %}
<h2>Search Results</h2>
<ul>
{% for page in pages %}

    <li><a href="{% url 'wiki:view_page' page.name %}">{{ page.name }}</a></li>

{% endfor %}
</ul>
{% endif %}

{% endblock content %}