{% extends "wiki/base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="container">
<form class="form-signin" method="post" action="{% url 'wiki:login' %}">
{% csrf_token %}
<h2 class="form-signin-heading">Please sign in</h2>
<label for="id_username">{{ form.username.label_tag }}</label>{{ form.username }}
<label for="id_password">{{ form.password.label_tag }}</label>{{ form.password }}
<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>   
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'wiki:password_reset' %}">Lost password?</a></p>
</div>
{% endblock %}

<!--
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
-->