<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>{% block title %}Blog{% endblock %}</title>
    
    <!-- Bootstrap and CSS  -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
    {% block page-specific-statics %}{% endblock %}
    
</head>
<body>
    <!-- Google+ Comment add-in -->
    <script src="https://apis.google.com/js/plusone.js"></script>
    <div class="container">
    <section>
    {% block messages %}
    {% if messages %}
        <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
        </ul>
    {% endif %}
    {% endblock %}
    </section>
    
    <article class="main-content col-sm-10 col-sm-offset-1">
    {% block content %}
       
    {% endblock %}
    </article>
    </div>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>

