{% extends 'blog/base.html' %}
{% block title %}{{ block.super }}{{ page.id }}{% endblock %}

{% block content %}
<h3>Post Detail </h3>
{% if post %}
    <p>Post {{post.id}} Created {{post.timestamp}} Last Edited {{post.updated}}</p>
    <article style="border:1px solid lightgrey"> {# TODO move to css #}
    <h2>{{ post.title }}</h2>
    <p>{{ post.content}}</p>
    </article>   
{% else %}
Post not found
{% endif %}
<a href="{% url 'blog:update' post.id %}"><button>Edit</button></a>
<a href="{% url 'blog:delete' post.id %}"><button>DELETE</button></a>
<a href="{% url 'blog:list' %}"><button>List</button></a>
{% endblock %}