{% extends 'blog/base.html' %}
{% block title %}{{ block.super }}{{ page.id }}{% endblock %}

{% block content %}
{% if post %}
<header><h2>{{ post.title }} <small>Post #{{post.id}} Last Edited {{post.updated}}</small></h2></header>

    <div style="border:1px solid lightgrey"> 
    <p>{{ post.content|linebreaks}}</p>
    <footer><h6>Created {{post.timestamp}}</h6></footer>
    </div>   
{% else %}
Post not found
{% endif %}
<a href="{% url 'blog:update' post.id %}"><button>Edit</button></a>
<a href="{% url 'blog:delete' post.id %}"><button>DELETE</button></a>
<a href="{% url 'blog:list' %}"><button>List</button></a>
{% endblock %}